<head>

  <style>
    body {
      background-color: #f8f9fa;
    }

    .jumbotron {
      background-color: #007bff;
      color: white;
    }

    .navbar {
      margin-bottom: 20px;
    }

    .card {
      margin: 20px 0;
    }

    .footer {
      background-color: #343a40;
      color: white;
      padding: 20px 0;
      text-align: center;
      position: fixed;
      width: 100%;
      bottom: 0;
    }
  </style>
</head>

<body>
  <div class="jumbotron text-center">
    <h1 class="display-4">Bem-vindo ao Manage Product</h1>
    <p class="lead">Sua solução completa para gerenciar produtos de forma eficiente e eficaz.</p>
  </div>
</body>
